<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Deep Learning Tool with Azure</title>
       <link rel="stylesheet" media="screen" href ="/static/css/bootstrap.min.css">
       <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
       <meta name="viewport" content = "width=device-width, initial-scale=1.0">
 
    </head>
    <body>

<div class="container">

  <h2>Deep Learning Tool with Azure</h2>

  <a href="/list-resources/">Click me to list all resources.</a>
  
  <h4>Create a new Virtual Machine</h4>
  <form  action="" method="post" role="form">
    {{ form.csrf }}
    <div class="form-group">
      <label for="vmname">VM Name:</label>
      <input type="text" class="form-control" id="vmname" name="vmname" placeholder="Enter a simple name for your Deep Learning VM.">
      <br>
      <label for="username">Username:</label>
      <input type="text" class="form-control" id="username" name="username" placeholder="Default username is azureadminuser.">
      <br>
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" name="password" placeholder="Default password is Azureadminpw1.">
      <br>
      <label for="datadisk">Data Disk Option:</label>
        <select type='datadisk' class="form-control" id="datadisk" name="datadisk" placeholder="Choose your Data set.">
          <option value="all">Deep Learning & Machine Learning Datasets</option>
          <option value="deeplearning">Deep Learning Datasets</option>
          <option value="machinelearning">Machine Learning Datasets</option>
          <option value="empty">No Dataset</option>
        </select>
 
    </div>
    <button type="submit" class="btn btn-success">Create VM</button>
  </form>
  <br>
  <br>
  <h4>Available Virtual Machines: </h4>
    <div class="list-group">
    {% for vm in vmlist %}
        <a href="/manage-vm/{{ vm }}" target="_blank" class="list-group-item list-group-item-action">Start {{ vm }} VM</a>
    {% endfor %}
    </div>
  <br>
  <br>
  <h4>Available Datasets: </h4>
    <div class="list-group">
    {% for dataset in datalist %}
        <a href="{{ dataset[2] }}" target="_blank" class="list-group-item list-group-item-action">{{ dataset[0] }} - {{ dataset[1] }}</a>
    {% endfor %}
    </div>

  <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
 
        {% for message in messages %}
            {% if "Error" not in message[1]: %}
                <div class="alert alert-info">
                <strong>Success! </strong> {{ message[1] }}
                </div>
            {% endif %}
 
            {% if "Error" in message[1]: %}
                <div class="alert alert-warning">
                {{ message[1] }}
                </div>
            {% endif %}
        {% endfor %}
            {% endif %}
        {% endwith %}
 
</div>
<br>            
</div>
</div>
</body>
</html>