<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Deep Learning Tool with Azure</title>
  <link rel="stylesheet" media="screen" href ="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>
<body>
<br>
<div class="container">
  <form  action="" method="post" role="form">

  <h3> What would you like to do with {{ vm }} VM?</h3>
  <button type="submit" class="btn btn-default btn-block" name="start">Start VM</button>
  <button type="submit" class="btn btn-default btn-block" name="stop">Stop VM</button>
  <button type="submit" class="btn btn-default btn-block" name="deallocate">Deallocate VM</button>
  </form>

  {% if ipaddr %}
  <h2>Starting {{ vm }} VM...</h2>
  <p>
    VM available at IP Address: {{ ipaddr }}
  </p>
  {% endif %}

</div>

</body>
</html>