<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Deep Learning Tool with Azure</title>
  <link rel="stylesheet" media="screen" href ="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
  <meta name="viewport" content = "width=device-width, initial-scale=1.0">
</head>
<body>
 
<div class="container">
  <h2>Starting {{ vm }} VM...</h2>
  <p>
    VM available at IP Address: {{ ipaddr }}
  </p>

  <h2>Starting {{ vm }} VM...</h2>
  <p>
    VM available at IP Address: {{ ipaddr }}
  </p>

  <h2> If you would like to stop your VM: </h2>
  <button type="button" class="btn btn-default btn-block">Button 2</button>
</div>

</body>
</html>